
<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-2">
        <h2 class="footer-heading">Copyright</h2>
        <p style="color: white;">&copy; <script>new Date().getFullYear()>2010&&document.write(new Date().getFullYear());</script> Zachary Montgomery. All rights reserved.</p>
      </div>
    
        
      <div class="footer-col footer-col-2">
        <h2 class="footer-heading">Quick Links</h2>
        <ul style="font-size: 1.1em;">
          <li style="margin: 0.5em 0;">
            <a href="/contact/" rel="noopener noreferrer">Contact</a>
          </li>
          <li style="margin: 0.5em 0;">
            <a href="/privacy-policy/" target="_blank" rel="noopener noreferrer">Privacy Policy</a>
          </li>
          <li style="margin: 0.5em 0;">
            <a href="/sitemap/" target="_blank" rel="noopener noreferrer">Sitemap</a>
          </li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <h2 class="footer-heading">Connect</h2>
        <div class="social-btns">
          {%- if site.github != '' -%}
            <a class="btn github"  rel="noopener" rel="noreferrer" href="{{ site.github | escape }}" target="_blank"><i class="fab fa-github fa-w-1"></i><span class="sr" hidden>Github Account</span></a>
          {%- endif -%}
          {%- if site.instagram != '' -%}
            <a class="btn instagram"  rel="noopener" rel="noreferrer" href="{{ site.instagram | escape }}" target="_blank"><i class="fab fa-instagram fa-w-1"></i><span class="sr" hidden>Instagram Account</span></a>
          {%- endif -%}
          {%- if site.twitter != '' -%}
            <a class="btn twitter" rel="noopener" rel="noreferrer" href="{{ site.twitter | escape }}" target="_blank"><i class="fab fa-twitter"></i><span class="sr" hidden>Twitter Account</span></a>
          {%- endif -%}
        </div>
      </div>

      <div class="footer-col footer-col-1">
        <h2 class="footer-heading">Contribute to My Work</h2>
        <p>Like what I'm doing but don't fancy a website? Feel free to buy me a coffee!</p>
        <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="zmontgo" data-color="#E38C2D" data-emoji=""  data-font="Arial" data-text="Buy me a coffee" data-outline-color="#000000" data-font-color="#000000" data-coffee-color="#ffffff" ></script>
      </div>

  </div>

</footer>

<style>
  .bmc-btn {
    width: 100%;
    justify-content: center;
    transition: 0.2s;
  }
</style>