<div>
    <div class="index-header">
          <h1 style="font-family: 'Comfortaa';" class="animate__animated animate__fadeIn">Zachary Montgomery</h1>
          <h2 style="font-family: 'Comfortaa';" class="animate__animated animate__fadeIn">Full Stack Web Developer</h2>
    </div>
    <div class="about-us index-sections content">
        <h2 class='blue-header animate__animated animate__fadeIn'>About Me</h2>
        <p class="animate__animated animate__fadeIn">A US-based developer looking to begin freelancing. Skilled with frontend and backend developing, along with Discord bot creation. Picking up new frameworks is not a problem.</p>
        <p class="animate__animated animate__fadeIn">As I'm building my portfolio I'm willing to work for very cheap or even free, while keeping excellent quality code.</p>
    </div>
    <div class="about-us index-sections content">
        <h2 class='blue-header animate__animated animate__fadeIn'>Recent Work</h2>
        <div class="cardholder animate__animated animate__fadeIn">
            <div class="card">
                <h3>Big Title</h3>
                <a href="#">Link</a>
            </div>
            <div class="card">
                <h3>Big Title</h3>
                <a href="#">Link</a>
            </div>
            <div class="card">
                <h3>Big Title</h3>
                <a href="#">Link</a>
            </div>
        </div>
    </div>
</div>