---
layout: default
---

<div id="particles-js" class="particles-js">
    <div class="index-header">
          <h1 style="font-family: 'Comfortaa';">Zachary Montgomery</h1>
          <h2 style="font-family: 'Comfortaa';">Full Stack Web Developer</h2>
    </div>
    <div class="about-us index-sections content">
        <h2 class='blue-header'>About Me</h2>
        <p>{{- site.description | escape -}}</p>
        <p>As I'm building my portfolio I'm willing to work for very cheap or even free, while keeping excellent quality code.</p>
    </div>
</div>
