---
layout: default
---

<div>
    <div class="index-header top-wrapper">
        <div class="top-spacer" id="imagespacer">
            <img src="/assets/picture.png" onerror="document.getElementById('imagespacer').style.display='none'">
        </div>
        <div class="top-spacer">
            <h1 style="font-family: 'Comfortaa';">Zachary Montgomery</h1>
            <h2 style="font-family: 'Comfortaa';">Freelance Web Developer</h2>
        </div>
    </div>
    <div class="about-us index-sections content">
        <h2 class='blue-header'>About Me</h2>
        <p>{{- site.description | escape -}}</p>
        <p>As I'm building my portfolio I'm willing to work for very cheap or even free, while keeping excellent quality code.</p>
    </div>
    <div class="about-us index-sections content">
        <h2 class='blue-header'>Recent Work</h2>
        <div class="cardholder">
            <div class="card">
                <h3>Big Title</h3>
                <a href="#">Link</a>
            </div>
            <div class="card">
                <h3>Big Title</h3>
                <a href="#">Link</a>
            </div>
            <div class="card">
                <h3>Big Title</h3>
                <a href="#">Link</a>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript" src="{{ base.url | prepend: site.url }}/assets/js/particles.js"></script>
<script type="text/javascript" src="{{ base.url | prepend: site.url }}/assets/js/app.js"></script>
