---
layout: default
---

<div>
    <div class="index-header">
          <h1 style="font-family: 'Comfortaa';" class="animate__animated animate__fadeIn">Zachary Montgomery</h1>
          <h2 style="font-family: 'Comfortaa';" class="animate__animated animate__fadeIn animate__delay-1s">Full Stack Web Developer</h2>
    </div>
    <div class="about-us index-sections content">
        <h2 class='blue-header animate__animated animate__fadeIn animate__delay-2s'>About Me</h2>
        <p class="animate__animated animate__fadeIn animate__delay-3s">{{- site.description | escape -}}</p>
        <p class="animate__animated animate__fadeIn animate__delay-3s">As I'm building my portfolio I'm willing to work for very cheap or even free, while keeping excellent quality code.</p>
    </div>
</div>

<script type="text/javascript" src="{{ base.url | prepend: site.url }}/assets/js/particles.js"></script>
<script type="text/javascript" src="{{ base.url | prepend: site.url }}/assets/js/app.js"></script>
