---
layout: default
---

<div class="topnav-spacer"></div>
<div class="home">
  <div class="index-sections content section">
    {%- if site.projects.size > 0 -%}
    <h2 class="orange-header">Projects I've Worked On</h2>
    <ul class="project-list">
        {%- for project in site.projects -%}
        <li>
            <h3>{{ project.title | escape }}</h3>
            
        </li>
        {%- endfor -%}
    </ul>
    {%- else -%}
      <h2 class="orange-header">There's Nothing Here! ... Yet.</h2>
    {%- endif -%}
  </div>
</div>